* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared Code */
.btn {
    font-size: 20px;
    padding: 20px 35px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

header {
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    /* height: 700px; */
}

nav {
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.logo h2 {
    font-size: 3em;
}

.logo span {
    color: #FD6E0A;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #474747;
}



#banner {
    /* border: 1px solid black; */
    margin: 46px 38px 0px 208px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 163px;
}

.banner-content {
    max-width: 585px;
}

.banner-content h2 {
    font-size: 45px;
    padding-bottom: 30px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: 900;
    padding-bottom: 30px;
}

.banner-content p {
    padding-bottom: 30px;
}

.banner-image img {
    width: 584px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
}

.about-container {
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 131px 156px;
    border-radius: 10px;
}

.about-container .section-heading {
    text-align: center;
    max-width: 827px;
}

.section-heading h2 {
    font-size: 35px;
    padding-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    padding-bottom: 30px;
    color: #757575;
}

.about-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    max-width: 827px;
}

.info-card {
    text-align: center;

}

.info-card p {
    font-size: 20px;
    color: #757575;
}

.info-card h4 {
    font-size: 20px;
}



/* skill-section */


.skill {
    padding-top: 130px;
    padding-bottom: 130px;
}

.skill-container {
    width: 74%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-container .section-heading {
    width: 74%;
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}

.skill-box {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding-top: 30px;
}

.skill-card {
    padding: 30px 33px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px #00000015;
}

.skill-card img {
    padding-bottom: 30px;
}

.skill-card h3 {
    padding-bottom: 30px;
    font-size: 20px;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
}